@model NS.MBX.Web.Models.TipoDocumentoViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TipoDocumentoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipDoc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipDoc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DesDoc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DesDoc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
